**/*.iml
**/*.clwb
.idea/
**/target
**/bazel-bin
**/bazel-cc
**/bazel-genfiles
**/bazel-out
**/bazel-testlogs
**/log
**/work
.DS_STORE
*.diff
.java-version

.cache/
.settings/
.vim/
.classpath
.factorypath
.project
package-lock.json
